[
    {
        "firstName": "John",
        "lastName": "Doe"
    }, {
        "firstName": "Joelina",
        "lastName": "Donna"
    },
    {
        "firstName": "Arthur",
        "lastName": "Tomasi"
    },
    {
        "firstName": "Felix",
        "lastName": "Schönherr"
    },
    {
        "firstName": "Fabian",
        "lastName": "Rafreider"
    },
    {
        "firstName": "Luca",
        "lastName": "Palanga"
    },
    {
        "firstName": "Eray",
        "lastName": "Hergül"
    },
    {
        "firstName": "Nils",
        "lastName": "Philipp"
    },
    {
        "firstName": "Victor",
        "lastName": "Blaga"
    }
]